<h1>Editar categoria</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :Titulo %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Descricao %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Mostrar', @category %> |
<%= link_to 'Voltar', categories_path %>