<h1>Categorias</h1>

<table>
  <tr>

    <th>Titulo</th>

    <th>Descricao</th>

  </tr>

<% @categories.each do |category| %>
  <tr>

    <td><%=h category.title %></td>

    <td><%=h category.description %></td>

    <td><%= link_to 'Mostrar', category %></td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Excluir', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir categoria', new_category_path %> |
<%= link_to 'Back', sites_path %>