<h1>Nova categoria</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :Titulo %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Descricao %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Criar', :class => "button" %>
  </p>
<% end %>

<%= link_to 'Voltar', sites_path %>