<% if logged_in? %>
	<h1>Ativar sites</h1>
	<table>
		<tr>
			<th class="first">Url</th>
			<th class="first"></th>
			<th class="first"></th>
			<th class="first"></th>
			<th class="first"></th>
		</tr>
		<% @sitesNoActive.each do |site| %>
			<tr <%= cycle('class="row-a"',' class="row-b"') %>>
				<td><%=h site.url %></td>
				<td><%= link_to 'acessar', site.url, {:target => "_blank"} %></td>
				<td><%= link_to 'editar', edit_site_path(site) %></td>
				<td><%= link_to 'excluir', site, :confirm => 'Vc tem certeza disto?', :method => :delete %></td>
				<td>
				<% unless site.name == nil %>
					<%= link_to 'aprovar', activate_site_path(site.activation_code) %>
				<% end %>
				</td>
			</tr>			
		<% end %>
	</table>
<% end %>
<%= render :partial => 'toptags' %>
<h1>Sites</h1>
<h3>Abaixo voc&ecirc; encontra os &uacute;ltimos sites customizados para iPhone e iPod Touch adicionados pelos usu&aacute;rios.</h3>
<table>
	<% @sites.each do |site| %>
	  <tr <%= cycle('class="row-b"',' class="row-a"') %>>
		<td><%= link_to site.name, site.url, {:target => "_blank"} %>
		<% if site.description == nil %>
				<br /><%=h site.description %>
			<% else %>
				<br /><%= site.description.slice(0,70) %><%= site.description.size >= 70 ? '...' : '' %>
			<% end %>
		</td>
	  </tr>
	<% end %>
</table>
<div id="paginate">
	<%= will_paginate @sites %>
</div>