<% if logged_in? %>
	<h1>Ativar sites</h1>
	<table>
		<tr>
			<th class="first">Url</th>
			<th class="first"></th>
			<th class="first"></th>
			<th class="first"></th>
			<th class="first"></th>
		</tr>
		<% @sites.each do |site| %>
			<% unless site.activation_code == nil %>
			<tr <%= cycle('class="row-a"',' class="row-b"') %>>
				<td><%=h site.url %></td>
				<td><%= link_to 'acessar', site.url, {:target => "_blank"} %></td>
				<td><%= link_to 'editar', edit_site_path(site) %></td>
				<td><%= link_to 'excluir', site, :confirm => 'Vc tem certeza disto?', :method => :delete %></td>
				<td>
				<% unless site.name == nil %>
					<%= link_to 'aprovar', activate_site_path(site.activation_code) %>
				<% end %>
				</td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>
<h1>Sites</h1>
<% for category in @categories %>
	<% unless category.sites.empty? %>
	<h2><%=h category.title %>(<%=h category.sites.size %>)</h2>
	<ul>
		<% for site in category.sites %>
			<% unless site.activation_code != nil %>
				<li>
					<%= link_to site.name, site.url, {:target => "_blank"} %>
					<br>
					<%= site.description.slice(0,70) %><%= site.description.size >= 70 ? '...' : '' %>
				</li>
			<% end %>
		<% end %>
	</ul>
	<% end %>
<% end %>
<br />
<%= will_paginate @categories %>
<br />