<% if logged_in? %>
	<h1>Ativar sites</h1>
	<table>
		<tr>
			<th class="first">Url</th>
			<th class="first"></th>
			<th class="first"></th>
			<th class="first"></th>
			<th class="first"></th>
		</tr>
		<% @sites.each do |site| %>
			<% unless site.activation_code == nil %>
			<tr <%= cycle('class="row-a"',' class="row-b"') %>>
				<td><%=h site.url %></td>
				<td><%= link_to 'acessar', site.url, {:target => "_blank"} %></td>
				<td><%= link_to 'editar', edit_site_path(site) %></td>
				<td><%= link_to 'excluir', site, :confirm => 'Vc tem certeza disto?', :method => :delete %></td>
				<td>
				<% unless site.name == nil %>
					<%= link_to 'aprovar', activate_site_path(site.activation_code) %>
				<% end %>
				</td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>
<h1>Sites</h1>

<code>
	<% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
	  <%= link_to name, {:action => :tag, :id => name},
		:class => css_class %>
	<% end %>
</code>

<table>

<% @sites.each do |site| %>
  <tr <%= cycle('class="row-a"',' class="row-b"') %>>

    <td><%=h site.name %>
	<% if site.description == nil %>
			<br /><%=h site.description %>
		<% else %>
			<br /><%= site.description.slice(0,70) %><%= site.description.size >= 70 ? '...' : '' %>
		<% end %>
	</td>

  </tr>
<% end %>
</table>


<p>
	<%= will_paginate @sites %>
</p>