<% if logged_in? %>
<h1>Listing sites</h1>
<%= link_to "Sair", logout_path %>
<table>
  <tr>
    <th>Url</th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%=h site.url %></td>
    <td><%= link_to '+', site %></td>
    <td><%= link_to 'e', edit_site_path(site) %></td>
    <td><%= link_to 'x', site, :confirm => 'Are you sure?', :method => :delete %></td>    
  </tr>
<% end %>
</table>  
<% end %>

<h1>Sites</h1>
<% for category in @categories %>
	<% unless category.sites.empty? %>	
	<h2><%=h category.title %>(<%=h category.sites.size %>)</h2>
	<ul>
	  <% for site in category.sites %>
<<<<<<< HEAD:app/views/sites/index.html.erb
		<li><%= link_to 'Site name', site.url %></li>
=======
		  <li><%= link_to site.name, site.url, {:target => "_blank"} %></li>
>>>>>>> working:app/views/sites/index.html.erb
	  <% end %>
	</ul>
	<% end %>
<% end %>

<br />

<%= link_to 'New site', new_site_path %>
