<h1>Listar sites</h1>

<table>
  <tr>

    <th class="first">Name</th>

    <th class="first">Description</th>
	
	<th class="first"></th>
	<th class="first"></th>
	<th class="first"></th>

  </tr>

<% @sites.each do |site| %>
  <tr <%= cycle('class="row-a"',' class="row-b"') %>>

    <td class="first"><%=h site.name %></td>

    <td>
		<% if site.description == nil %>
			<%=h site.description %></td>
		<% else %>
			<%= site.description.slice(0,70) %><%= site.description.size >= 70 ? '...' : '' %>
		<% end %>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div id="paginate">
  <%= will_paginate @sites %>
  <%= link_to 'Voltar', sites_path %>
</div>