<h1>Novo site</h1>

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :URL %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :Tags %>
    <%= f.text_field :tag_list %> (Separadas por virgulas)
  </p>
  <p>
    <%= f.submit 'Sugerir', :class => "button"%>
  </p>
<% end %>
<div id="paginate">
  <%= link_to 'Voltar', sites_path %>
</div>