<h1>Sites</h1>

<div id="tag_cloud">
	<code>
		<% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
			<%= link_to name, {:action => :tag, :id => name},
			:class => css_class %>
		<% end %>
	</code>
</div>

<table>
	<% @sites.each do |site| %>
		<tr <%= cycle('class="row-a"',' class="row-b"') %>>
			<td>
				<%= link_to site.name, site.url, {:target => "_blank"} %>
				<% if site.description == nil %>
					<br /><%=h site.description %>
				<% else %>
					<br /><%= site.description.slice(0,70) %><%= site.description.size >= 70 ? '...' : '' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>