<h1>Sites</h1>

<code>
	<% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
	  <%= link_to name, {:action => :tag, :id => name},
		:class => css_class %>
	<% end %>
</code>

<table>

<% @sites.each do |site| %>
  <tr <%= cycle('class="row-a"',' class="row-b"') %>>

    <td><%=h site.name %>
	<% if site.description == nil %>
			<br /><%=h site.description %>
		<% else %>
			<br /><%= site.description.slice(0,70) %><%= site.description.size >= 70 ? '...' : '' %>
		<% end %>
	</td>

  </tr>
<% end %>
</table>


<p>
	will_paginate
</p>